	<div data-role="header" data-position="fixed">
		<h1><%= current_group.name %></h1>
	</div>
	<div data-role="content">
		<ul data-role="listview">
			<li>
				<img src="http://www.gravatar.com/avatar/<%= md5 @owner.email %>?d=identicon&s=80"/>
				<h3><a><%= @owner.name %></a></h3>
				<span>Admin</span>
			</li>
			<% @members.each do |member| %>
				<li>
					<img src="http://www.gravatar.com/avatar/<%= md5 member.email %>?d=identicon&s=80"/>
					<h3><a><%= member.name %></a></h3>
				</li>
			<% end %>
		</ul>
	</div>

        <div data-role="footer" data-position="fixed">
          <div data-role="navbar">
                <ul>
					<li><a href="<%= new_group_membership_path(current_group) %>">Legg til spiller</a></li>
                </ul>
          </div>
		  
        </div>